# Copyright (c) 2023 Eugene Brodsky https://github.com/ebr

x-invokeai: &invokeai
    image: "ghcr.io/invoke-ai/invokeai:latest"
    pull_policy: never
    # image: "ghcr.io/invoke-ai/invokeai:sha-47d7d93-cuda"
    build:
      context: ..
      dockerfile: docker/Dockerfile

    # Create a .env file in the same directory as this docker-compose.yml file
    # and populate it with environment variables. See .env.sample
    env_file:
      - .env

    # variables without a default will automatically inherit from the host environment
    environment:
      # if set, CONTAINER_INVOKEAI_ROOT will override the Invoke runtime directory location *inside* the container
      - INVOKEAI_ROOT=${CONTAINER_INVOKEAI_ROOT:-/invokeai}
      - INVOKEAI_PORT=${CONTAINER_INVOKEAI_PORT:-9090}
      - HF_HOME=${CONTAINER_HF_HOME:-/invokeai/.cache/huggingface}
      - HF_ENDPOINT=https://hf-mirror.com
      - CONTAINER_UID=${CONTAINER_UID:-1000}
    ports:
      - "${HOST_INVOKEAI_PORT:-9090}:${INVOKEAI_PORT:-9090}"
    volumes:
      - type: bind
        source: ${HOST_INVOKEAI_ROOT:-~/invokeai}
        target: ${CONTAINER_INVOKEAI_ROOT:-/invokeai}
        bind:
          create_host_path: true
      - type: bind
        source: ${HOST_HF_HOME:-~/.cache/huggingface}
        target: ${CONTAINER_HF_HOME:-/invokeai/.cache/huggingface}
        bind:
          create_host_path: true
      - type: bind
        source: ${HOST_EXTERNAL_MODELS_DIR:-~/invokeai/sd_models}
        target: /models
        bind:
          create_host_path: true
      - type: bind
        source: ${HOST_USER_OUTPUT_DIR:-~/invokeai/outputs}
        target: ${CONTAINER_INVOKEAI_ROOT:-/invokeai}/outputs
        bind:
          create_host_path: true
      - type: bind
        source: ${HOST_USER_DATABASE_DIR:-~/invokeai/databases}
        target: ${CONTAINER_INVOKEAI_ROOT:-/invokeai}/databases
        bind:
          create_host_path: true
    tty: true
    stdin_open: true


services:
  invokeai61001:
    <<: *invokeai
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["1"]
              capabilities: [gpu]
